<a href="https://colab.research.google.com/github/jhbellingrath/CS-290-Classwork/blob/main/notebooks/HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("https://github.com/mbrudd/csci290/raw/refs/heads/main/data/penguins.csv")

In [5]:
train_set, test_set=train_test_split(df, test_size=0.2, random_state=42)

In [10]:
for i in range(len(train_set)):
  print(train_set.iloc[i])

KeyError: 0

species              Adelie
island               Biscoe
bill_length_mm         35.5
bill_depth_mm          16.2
flipper_length_mm     195.0
body_mass_g          3350.0
sex                  female
year                   2008
Name: 66, dtype: object